#convert a {
/*	background:transparent;
	border-color:transparent;
*/	text-decoration:none;
}

.label {
	position:relative;
	display:block;
	cursor:pointer;
}
.row.invalid_number .number input, input.invalid_number {
	background:#fcc;
}
	#convert .row_tools > .invalid_number_symbol {
		font-weight:bold;
		background:#c00;
		border-color:#600;
		color:#eee;
	}
	#convert .invalid_number:not(.example) .row_tools > .invalid_number_symbol {
/*	.row:not(.new).invalid_number .invalid_number_symbol {*/
		display:inline-block;
	}
	
#convert .row.hilite {
	border-color:#fe0;
	background:#f5f5f5;
}
	#convert .row.hilite .name {
		font-weight:bold;
	}
#convert .row.hilite.focus {
	background:#fff;
}

/* base interaction */
/*#convert .new:not(:hover):not(.focus) {
	color:#666;
}*/

.base input {
	width:80%;
}
.focus {
	background:#fff;
}

.name {
	display:block;
	font-weight:normal;
	font-size:1em;
	padding:0.2em;
	line-height:inherit;
}
	.name small {
		font-size:0.9em;
	}


/* TODO not enabled - perhaps never
.precision {
	font-weight:bold;
	margin-left:0.1em;
}
*/


/* no JavaScript */
#convert button {
	float:right;
}


#convert .row_tools > .remove {
	color:#000;
	background:#fff;
	border-color:#fcc;
}
#convert .row:hover .remove,
#convert .focus .remove {
	display:inline-block;
}
#convert .row_tools:hover > .remove,
#convert .remove:focus {
	z-index:1;
}
#convert .remove:hover {
	border-color:#c00;
	background:#fee;
}
#convert .remove:focus {
	border-color:#06f;
}
#convert .row.new .remove {
	display:none;
}
#convert .new {
	margin-top: 0.5em;
}

	.new .name {
		color: #666;
	}

	.js .new .number input {
		background: transparent;
	}
	.js .new:not(.focus) .number input:not(:focus) {
		border-color: #ddd;
	}


#suggestions {
	display:none;
	position:absolute;
	z-index:1;
	background:#fff;
	list-style:none;
	border:1px solid #999;
	width:100%;
	padding:0 0.2em;
	-moz-box-shadow:0 0 1em #000;
	-webkit-box-shadow:0 0 1em #000;
	box-shadow:0 0.3em 0.3em #666;
	font-size:0.9em;
}
	#suggestions ul {
		width:100%;
	}
	#suggestions li {
		width:100%;
		padding:0.1em 0.2em;
		margin:0 -0.2em;
		cursor:pointer;
	}
	#suggestions li.selected {
		background-color:#4C59A6;
		color:#fff;
		background-color:Highlight;
		color:HighlightText;
	}
	#suggestions li[data-id=""] {
		font-style:italic;
		color:inherit;
		background-color:transparent;
	}


#calculator_expr {
	width:50%;
	text-align:right;
	height:1.8em;
}