@font-face {
	font-family:'FontinBold';
	src:url('fontin-bold-webfont.eot');
	src:
		local('Fontin Bold'),
		local('Fontin-Bold'),
		local('FontinBold'),
		local('Fontin'),
		local('Tahoma'),
		local('Georgia'),
		url('fonts/fontin-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontin-bold-webfont.woff') format('woff'),
		url('fonts/fontin-bold-webfont.ttf') format('truetype'),
		url('fonts/fontin-bold-webfont.svg#FontinBold') format('svg');
	font-weight:bold;
	font-style:normal;
}